<div class="flex-between h-full items-center md:me-7">
    <h3 class="md:ml-15 font-bold text-2xl">Home</h3>

    <div class="flex-stretch relative h-1/2">
        <input type="text" name="search" id=""
            class="bg-[#232F48] rounded-lg h-full  md:min-w-lg md:px-12  text-gray-50 placeholder:text-[#92A4C5] focus:border-violet-700"
            placeholder="Searh player, team, or league..." />

        <fa-icon [icon]="magnifyingGlass" class="absolute left-4" />

        <button class="bg-gray-600/50 rounded-lg md:p-2">
            <fa-icon [icon]="bell" />
        </button>

        @if(authService.currentUserSig()){
        <div class="relative inline-block text-left h-full">

            <button (click)="toggleDropdown()" class="bg-transparent rounded-full hover:bg-green-500 cursor-pointer"
                id="menu-button">
                <img [src]="authService.currentUserSig()?.photo" alt="" width="40" height="40" class="rounded-full"
                    aria-hidden="true">
            </button>

            <div [ngClass]="{ 'block': isDropdownOpen, 'hidden': !isDropdownOpen }"
                class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                <div role="none">
                    <ul class="text-black group-hover:via-gray-500/50 p-3 flex flex-col gap-2">
                        <li class="hover:bg-gray-600/30 flex-between hover:rounded-xs" (click)="authService.logOut()">
                            <button type="button" (click)="authService.logOut()">Çıkış yap
                            </button>
                            <fa-icon [icon]="logOutSvg" />
                        </li>
                        <li class="hover:bg-gray-600/30">2</li>
                        <li class="hover:bg-gray-600/30">3</li>
                    </ul>
                </div>
            </div>
        </div>
        }@else {
        <a routerLink="login" class="rounded-full bg-amber-500">Av</a>
        }
    </div>
</div>